[*.cs]

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.ReadabilityRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.ReadabilityRules.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.NamingRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.NamingRules.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none
